extends layout

block content
  main
    aside  
      h1 Search Bar
      form
        input(type='text', name='search', placeholder='Search..')
    article 
      .book
        img(src='https://images-na.ssl-images-amazon.com/images/I/518NO3X1X2L._SX394_BO1,204,203,200_.jpg', alt='JavaScript', width='75', height='100')
        h3 Professional JavaScript for Web Developers
        h4 Nicholas C. Zakas
      .book
        img(src='https://images-na.ssl-images-amazon.com/images/I/518NO3X1X2L._SX394_BO1,204,203,200_.jpg', alt='JavaScript', width='75', height='100')
        h3 Professional JavaScript for Web Developers
        h4 Nicholas C. Zakas
      .book
        img(src='https://images-na.ssl-images-amazon.com/images/I/518NO3X1X2L._SX394_BO1,204,203,200_.jpg', alt='JavaScript', width='75', height='100')
        h3 Professional JavaScript for Web Developers
        h4 Nicholas C. Zakas
      .book
        img(src='https://images-na.ssl-images-amazon.com/images/I/518NO3X1X2L._SX394_BO1,204,203,200_.jpg', alt='JavaScript', width='75', height='100')
        h3 Professional JavaScript for Web Developers
        h4 Nicholas C. Zakas
      .book
        img(src='https://images-na.ssl-images-amazon.com/images/I/518NO3X1X2L._SX394_BO1,204,203,200_.jpg', alt='JavaScript', width='75', height='100')
        h3 Professional JavaScript for Web Developers
        h4 Nicholas C. Zakas
      .book
        img(src='https://images-na.ssl-images-amazon.com/images/I/518NO3X1X2L._SX394_BO1,204,203,200_.jpg', alt='JavaScript', width='75', height='100')
        h3 Professional JavaScript for Web Developers
        h4 Nicholas C. Zakas